.footer-info-wrapper {
    width: 100%;
    background-color: #2f58cd;
    padding: 6rem 4rem;
    display: flex;
    justify-content: space-evenly;
}

.footer-cta {
    height: 400px;
    width: 100%;
    position: relative;
    top: 10px;
    color: white;
    padding: 6rem;
    display: flex;
    padding-left: 12rem;
    flex-direction: column;
    justify-content: space-between;
    background: url('/assets/images/background-cinza.png') no-repeat;
    background-size: cover;
}

.footer-cta h1 {
    font-size: 50px;
}

.footer-cta .formFillButton {
    max-width: 175px;
    cursor: pointer;
    padding: 10px 5px;
    background: none;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    font-size: 25px;
}

.footer-left-child, .footer-right-child {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    gap: 20px;
}

.footer-left-child h1 {
    font-size: 50px;
}

.footer-left-child p {
    font-size: 16px;
    letter-spacing: 1px;
}

.icons-parent {
    display: flex;
    gap: 10px;
}

.footer-right-child p, .footer-right-child a {
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.footer-right-child p:nth-child(2) {
    max-width: 150px;
}

@media only screen and (max-width: 820px) {
    .footer-info-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-left-child {
        max-width: 100%;
    }

    .footer-right-child {
        flex-direction: row;
        max-width: 100%;
        margin-top: 50px;
    }

    .footer-right-child p:nth-child(2) {
        max-width: 300px;
    }
    .footer-cta {
        padding-left: 5rem;
    }
}