.banner {
  width: 100%;
  background: linear-gradient(to bottom, #2f58cd, #645cbb);
  height: 600px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.svg {
  display: inline-block;
  position: absolute;
  bottom: -250px;
  width: 100%;
  left: 0;
}

@media only screen and (max-width: 2000px) {
  .svg {
    bottom: -380px;
  }
}

@media only screen and (max-width: 1800px) {
  .svg {
    bottom: -380px;
  }
}

@media only screen and (max-width: 1700px) {
  .svg {
    bottom: -350px;
  }
}

@media only screen and (max-width: 1600px) {
  .svg {
    bottom: -320px;
  }
}

@media only screen and (max-width: 1550px) {
  .svg {
    bottom: -300px;
  }
}

@media only screen and (max-width: 1360px) {
  .svg {
    bottom: -280px;
  }
}

@media only screen and (max-width: 1199px) {
  .svg {
    bottom: -260px;
  }
}

@media only screen and (max-width: 1172px) {
  .svg {
    bottom: -250px;
  }
}

@media only screen and (max-width: 1126px) {
  .svg {
    bottom: -240px;
  }
}

@media only screen and (max-width: 1083px) {
  .svg {
    bottom: -230px;
  }
}

@media only screen and (max-width: 1038px) {
  .svg {
    bottom: -220px;
  }
}

@media only screen and (max-width: 993px) {
  .svg {
    bottom: -210px;
  }
}

@media only screen and (max-width: 948px) {
  .svg {
    bottom: -200px;
  }
}

@media only screen and (max-width: 902px) {
  .svg {
    bottom: -190px;
  }
}

@media only screen and (max-width: 857px) {
  .svg {
    bottom: -180px;
  }
}

@media only screen and (max-width: 808px) {
  .svg {
    bottom: -170px;
  }
}

@media only screen and (max-width: 763px) {
  .svg {
    bottom: -160px;
  }
}

@media only screen and (max-width: 718px) {
  .svg {
    bottom: -150px;
  }
}

@media only screen and (max-width: 672px) {
  .svg {
    bottom: -140px;
  }
}

@media only screen and (max-width: 627px) {
  .svg {
    bottom: -130px;
  }
}

@media only screen and (max-width: 582px) {
  .svg {
    bottom: -120px;
  }
}

@media only screen and (max-width: 537px) {
  .svg {
    bottom: -110px;
  }
}

@media only screen and (max-width: 492px) {
  .svg {
    bottom: -100px;
  }
}

@media only screen and (max-width: 449px) {
  .svg {
    bottom: -90px;
  }
}

@media only screen and (max-width: 410px) {
  .svg {
    bottom: -70px;
  }
}

.banner-content {
  display: flex;
  padding: 0 2rem;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 40px;
}

.banner-content h1 {
  max-width: 450px;
  color: white;
  line-height: 70px;
  font-size: 50px;
}

.banner-img {
  width: 600px;
  height: 410px;
}

@media only screen and (max-width: 1092px) {
  .banner-content h1 {
    font-size: 40px;
  }

  .banner-img {
    width: 500px;
    height: 400px;
  }
}

@media only screen and (max-width: 907px) {
  .banner-content h1 {
    font-size: 30px;
    line-height: 50px;
  }

  .banner-img {
    width: 450px;
    height: 350px;
  }
}

@media only screen and (max-width: 820px) {
  .banner {
    height: 700px;
  }

  .banner-content {
    flex-direction: column-reverse;
  }

  .banner-content h1 {
    font-size: 30px;
    line-height: 50px;
    width: 100%;
    text-align: center;
  }

  .button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-content h1 p {
    display: inline-block;
  }

  .banner-img {
    width: 450px;
    height: 350px;
  }
}

.banner-content h1 p {
  color: #b6eada;
  text-decoration: underline;
}

.btn-start,
.btn-service {
  margin: 20px;
  margin-top: 50px;
  cursor: pointer;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  border: 1px solid white;
  background: none;
}

.btn-start a,
.btn-service a {
  color: white;
}

.btn-start {
  margin-left: 0px;
  background-color: #2b3467;
}

.btn-start:hover,
.btn-service:hover {
  opacity: 0.7;
}
